nav {
  background-color: #ddd;
  .nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-menu {
    display: flex;
    li {
      padding: 20px;
      a {
        text-decoration: none;
      }
    }
  }
}
